body{
    background-color: #f0dfb3;
}

.home-wrapper {
    display: flex;
    justify-content: center;
    height: 98vh;
    align-items: center;
}

.button-section {
    width: 100%;
    padding-top: 1em;
}

.image-button {
    float: right;
}

.details-section{
    width: 300px;
    text-align: center;
    padding: 0 1em;
}

.name-detail {
    margin: 0;
}

.bio-detail {
    border: 2px solid black;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    background-color: #ffe497;
}

.profile-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.interests-details{
    margin: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.interest {
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 0.5em;
    width: 40%;
    margin-bottom: 1em;
    background-color: #ffe497;
}

.profile {
    display: flex;
}

.overlay {
    display: none;
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.598;
    z-index: 100;
    top: 0;
    left: 0;
}

.popup {
    display: none;
    position: absolute;
    background: white;
    width: 40%;
    border-radius: 20px;
    z-index: 200;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    left: 0;
    height: 45%;
    margin: 0 30%;
    top: 30%;
}

.popup-close {
    cursor: pointer;
    background: white;
    border: none;
    width: 100%;
    font-weight: bold;
    font-size: 1em;
    text-align: right;
    margin-top: 25px;
    padding-right: 25px;
}

.popup-heading {
    font-size: 2em;
}

.popup-content {
    text-align: center;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}