body{
    background-color: #f0dfb3;
}

.home-wrapper {
    display: flex;
    justify-content: center;
    height: 98vh;
    align-items: center;
}

.button-section {
    width: 100%;
    padding-top: 1em;
}

.image-button {
    float: right;
}

.details-section{
    width: 300px;
    text-align: center;
    padding: 0 1em;
}

.name-detail {
    margin: 0;
}

.bio-detail {
    border: 2px solid black;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    background-color: #ffe497;
}

.profile-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.interests-details{
    margin: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.interest {
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 0.5em;
    width: 40%;
    margin-bottom: 1em;
    background-color: #ffe497;
}

.profile {
    display: flex;
}