@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&display=swap');

body{
    background-color: #FFF3AF;
    margin-top: 15%;
}

.matches-body{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.match-text{
    font-family: 'Better Saturday', sans-serif;
    font-size: 120px;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: 10%;
}

.all-matches-container{
    background-color:#ffe497; 
    display: grid;
    border-radius: 10px 10px 10px 10px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width:85vh;
    max-height: 85vh;
    overflow: scroll;
}

.match-item{
    padding:3px;
    margin: 5px;
    background-color: white;
    overflow: auto;
    width: 250px;
    height:250px ;
    overflow: hidden;
}

.match-item

#profile-img{
    width: 250px;
    height: 250px;;
}

img:hover {
    cursor: pointer;
    padding: 50px;
    transition: transform .2s;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
.overlay {
    display: none;
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.598;
    z-index: 100;
    top: 0;
    left: 0;
}

/* css for popup */
.popup {
    display: none;
    position: absolute;
    background: white;
    width: 40%;
    height: 40%;
    border-radius: 20px;
    z-index: 200;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    top: 30%;
    left: 0;
    margin: 0 30%;
}

.popup-close {
    cursor: pointer;
    background: white;
    border: none;
    width: 100%;
    font-weight: bold;
    font-size: 1em;
    text-align: right;
    padding-right: 25px;
}

.chat-heading{
    margin: 1em;
    margin-bottom: 0em;
}

.chat-conversation{
    height: 15em;
    overflow-y: scroll;
}

.message{
    justify-items: flex-start;
    margin:1em;
    padding:5px;
    background-color: #ffe497;
    border-radius: 1em;
    
}

.chat-message{
    bottom: 0;
    position: absolute;
    width: 90%;
    margin: 5%;
    display: flex;
}


.messageBox{
    flex: 3;
    height: 2.5em;
    border-radius: 1em;
    
}

.btnSend{
    flex: 1;
    color: white;
    background: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    margin-left: 0.2em;
}


