body {
    background-color: #f0dfb3;
    height: 98vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:row
}
.all-info-container {
    display: flex;
    width: 44vh;
    height: 56vh;
    align-items: center;
    flex-direction:column;
}
.name-and-location {
    display: flex;
    align-items: center;
    flex-direction:column;
    font-size:smaller;
    font-family: 'Better Saturday', sans-serif;
    text-align: center;
}


 #main-info-Age{
    font-size: 2vw;
    font-family: 'Abhaya Libre', sans-serif;
    text-align: center;
}

#main-info-id{
    display: flex;
    align-items: center;
    flex-direction:column;
    font-size: 4vw;
    font-family: 'Better Saturday', sans-serif;
    text-align: center;
} 


.main-info{
    font-size: 40px;
    margin: 0%;
}


.bio {
    border: none;
    border-radius: 1em;
    width: 20em;
    padding: 1em;
    margin: 2%;
    background-color: #ffe497;
    font-family: 'Abhaya Libre', sans-serif;
    font-size: 18px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.profile-img {
    background-color: black;
    width: 44vh;
    height: 44vh;
}
.interests-buttons-container{
    display: grid;
    grid-template-columns: 13vh 13vh;
    column-gap: 60px;

}
.interest_button{
    height: 48px;
    width: 150px;
    text-align: center;
    color: black;
    background: #ffe497;
    margin-top: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Abhaya Libre', sans-serif;
    font-size: 15px;
  }
  .show-me-button {
      margin:3%;
  }

  .edit-button{
    margin-top:3%;
     font-size:50px;
     border-style: thin;
     border-width: 1%;
  }
  .edit-button:hover{
      cursor:pointer;
  }
  .interest-title {
      margin: 1%;
      font-size: large;
      font-family: 'Abhaya Libre', sans-serif;
  }
  .show-me-container {
    display: grid;
    grid-template-columns: 13vh 13vh;
    gap:60px
  }

  .top-left {
    position: absolute;
    top: 8px;
    left: 8px;
  }