body {
    background-color: #f0dfb3;
    background-blend-mode: darken;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.btn{
    justify-content: center;
    height: 40px;
    width: 10em;
    color: black;
    background: #ffe497;
    margin-top: 0.5em;
    border:none; 
    border-radius: 20px;
    cursor: pointer;
    margin-right: 0.1em;
    font-weight: 600;
} 

.overlay {
    display: none;
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.598;
    z-index: 100;
    top: 0;
    left: 0;
}

.submit-btn:hover, .Uploadbtn:hover {
    background-color: #FFC000
}

.page {
    text-align: center;
}

.BioTextArea {
    width: 25em;
    height: 5em;
    padding: 1em;
    box-sizing: border-box;
    border: 2px solid #ffe497;
    border-radius: 4px;
    background-color: #ffe497;
    font-size: 16px;
} 

.bottom-area {
    padding-bottom: 1em;
}

.ProfilePageHeader {
    font-size: 2.5vw;
    font-family: 'Better Saturday', sans-serif;
    margin-bottom: 0;
}

.PhotoUpload{
    background: #ffe497;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    text-shadow: 1px 1px #ffe497;
    font-weight: 600;
    font-size: 12pt;
    padding: 1em;
  }

.Uploadbtn{
    height: 48px;
    width: 3cm;
    color: black;
    background: #ffe497;
    margin-top: 1em;
    border:none; 
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
} 

.Interest_button_selected{
    background-color: #FFC000;
  } 
  
.labels{
    font-size: 1.5vw;
    color: black;
    font-family: 'Abhaya Libre', sans-serif;
    font-weight: 400;
    margin: 1em 0 0.5em 0;
}
/* .page{
    width:max-content;
    height:max-content;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 8cm;
}

.ProfilePageHeader{
    font-size: 2.5vw;
    font-family: 'Better Saturday', sans-serif;
    text-align: center;
    color: black;
    position:fixed; top: 2cm; left:15cm;
} 

#submit{
    position: fixed; bottom:3cm; left:43cm;
}

.Step1and2-Container{
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    position: relative; top:2cm;
}

.Step3and4-Container{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    position: relative; top:2cm;
}

.GenderButtonsSection{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 40%;
    height: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.MyGenderButtonsSection{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 40%;
    height: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.InterestSelectionBtns{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.btn{
    justify-content: center;
    height: 48px;
    width: 6cm;
    color: black;
    background: #ffe497;
    margin-top: 1em;
    border:none; 
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
} 

.labels{
    font-size: 1.5vw;
    margin-top: 0;
    color: black;
    font-family: 'Abhaya Libre', sans-serif;
    font-weight: 400;
}

.BioTextArea {
    grid-row-start: 1;
    grid-row-end: 2;
    width: 15cm;
    height: 5cm;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ffe497;
    border-radius: 4px;
    background-color: #ffe497;
    font-size: 16px;
  } 

  .PhotoUpload{
    grid-row-start: 2;
    grid-row-end: 3;
    content: 'Select some files';
    display: inline-block;
    background: #ffe497;
    border: none;
    border-radius: 20px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #ffe497;
    font-weight: 600;
    font-size: 12pt;
  }

  .Uploadbtn{
    justify-content: center;
    height: 48px;
    width: 3cm;
    color: black;
    background: #ffe497;
    margin-top: 1em;
    border:none; 
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
} 

.Interest_button_selected{
    background-color: #FFC000;
  } 

 

 */
