body {
    background-color: #f0dfb3;
    height: 98vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:row
}
.all-info-container {
    display: flex;
    width: 44vh;
    height: 44vh;
    align-items: center;
    flex-direction:column;
}
.name-and-location {
    display: flex;
    align-items: center;
    flex-direction:column;
}
.main-info{
    font-size: 40px;
    margin: 0%;
}
.bio {
    border-color: black;
    border-style: solid;
    border-radius: 10px  10px  10px  10px;
    width: 40vh;
    height: 10vh;
    margin: 5%;
    margin-left: 5%;
    border-width: thin;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.profile-img {
    background-color: black;
    width: 44vh;
    height: 44vh;
}
.interests-buttons-container{
    display: grid;
    grid-template-columns: 13vh 13vh;

}
.interest_button{
    height: 48px;
    width: 110px;
    color: black;
    background: #ffe497;
    margin-top: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  .show-me-button {
      margin:3%;
  }

  .edit-button{
    margin-top:3%;
     font-size:50px;
     border-style: thin;
     border-width: 1%;
  }
  .edit-button:hover{
      cursor:pointer;
  }
  .interest-title {
      margin: 1%;
      font-size: large;
  }
  .show-me-container {
    display: grid;
    grid-template-columns: 13vh 13vh;
  }

  .top-left {
    position: absolute;
    top: 8px;
    left: 8px;
  }