<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/home.css" />
    <title>Home</title>
</head>
<body>
    <section class="home-wrapper">
        <article id="homeSection" class="profile"></article>
    </section>
    <section id="overlay" class="overlay"></section>
    <section id="matchPopup" class="popup">
        <section class="popup-controls">
            <button id="popupclose" class="popup-close" onclick="closePopup()">X</button>
        </section>
        <section class="popup-content">
            <h2 class="popup-heading">It's a match!</h2>
            <img id="popupImage" class="profile-image"/>
        </section>
    </section>
    <script src="static/js/home.js"></script>
    <script src="static/js/nav.js"></script>
</body>
</html>