<!DOCTYPE html>
<html>
    <head>
        <title>Friender</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="static/css/styles.css" />
        <link rel="stylesheet" href="static/css/index.css" />
        <link rel="stylesheet" href="static/css/matches.css" />

    </head>
    <body>
        <header>
            <nav>
                <aside class="nav-logo">
                    <h1>Friender</h1>
                </aside>
                <aside class="nav-buttons">
                    <ul>  
                        <li>
                           Find friends  
                        </li>  
                        <li>  
                          <strong>Matches</strong>   
                        </li> 
                        <li>  
                            Safety Tips 
                        </li>   
                    </ul>  
                    <ul id="nav-buttons-right">
                        <li>Profile</li>
                        <li>Log Out</li>
                    </ul>
                </aside>
            </nav>
        </header>
        <section class="matches-body">
                <section class="match-text">Matches!</section>
                <section id="matches-container" class="all-matches-container">
                    <section class="match-item">
                        <img id="profile-img" src="static/images/pr.jpg" >
                   </section>
                   <section class="match-item">
                    <img id="profile-img" src="static/images/pr.jpg" >
                   </section> 

                           
        </section>
        <footer>
            <h3>Find friends, and have you experiences transcend!</h3>
        </footer>
        <script src="static/js/matches.js"></script>
    </body>
</html>