<!DOCTYPE html>
<html>
    <head>
        <title>Friender</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="static/css/styles.css" />
        <link rel="stylesheet" href="static/css/matches.css" />

    </head>
    <body>
        <section class="matches-body">
                <section class="match-text">Matches!</section>
                <section id="matches-container" class="all-matches-container">
                    <section class="match-item">
                        <img id="profile-img" src="static/images/pr.jpg" >
                   </section>
                   <section class="match-item">
                    <img id="profile-img" src="static/images/pr.jpg" >
                   </section>     
        </section>
        <script src="static/js/matches.js"></script>
        <script src="static/js/nav.js"></script>
    </body>
</html>