<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="static/css/styles.css" />
        <link rel="stylesheet" href="static/css/profile.css" />
        <link href="http://fonts.cdnfonts.com/css/better-saturday" rel="stylesheet">

    </head>
    <body>
        <section  class="grid-container">
            <section class="image-pic">
            <img class="profile-img" src="static/images/pp.png" >
            </section>
            <section class="all-info-container" id="all-info-container">
                <section class="name-and-location">
                    <p class="main-info" id="main-info-id"></p>
                    <p class="main-info" id="main-info-Age"></p>
                </section>
                <section class="bio" id="bio-id">
                </section>
                <p class="interest-title" id="interest-title-id">I am interested in: </p>
                <section class="interests-buttons-container" id="interests-buttons-id">                </section>
                 <p class="interest-title" id="show-me-id">Show me: </p>
                <section class="show-me-container" id="show-me-container-id">
                </section>     
                </section>
            </section>
        </section>
       

        <script src="static/js/nav.js"></script>
        <script src="static/js/profile.js"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    </body>
</html>