<!DOCTYPE html>
<html>
    <head>
        <title>Friender Profile Setup Page</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="static/css/styles.css" />
        <link rel="stylesheet" href="static/css/profileSetup.css" />
        <link href="http://fonts.cdnfonts.com/css/better-saturday" rel="stylesheet">
        <link href="http://fonts.cdnfonts.com/css/abhaya-libre-2" rel="stylesheet">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <section id="overlay" class="overlay"></section>
        <section class="page">
            <h1 id="Heading" class = "ProfilePageHeader">Lets get to know you ...</h1>\
            <h1 class = "labels"  id="ChooseMyGenderHeader">Step 1: I am...</h1>
            <section class = "MyGenderButtonsSection">
                <button class = "btn" id="me-men" onclick="SelectMyGender('me-men')">
                    Men
                </button>
                <button class ="btn" id="me-women" onclick="SelectMyGender('me-women')">
                    Women
                </button>
                <button  class ="btn" id="me-non-binary" onclick="SelectMyGender('me-non-binary')">
                    Non-binary
                </button>
            </section> 

            <h1 class = "labels"  id="ChooseGenderHeader">Step 2: Show me...</h1>
            <section class = "GenderButtonsSection">
                <button class = "btn" id="men" onclick="SelectGender('men')">
                    Men
                </button>
                <button class ="btn" id="women" onclick="SelectGender('women')">
                    Women
                </button>
                <button  class ="btn" id="non-binary" onclick="SelectGender('non-binary')">
                    Non-binary
                </button>
                <button class ="btn" id="all" onclick="SelectGender('all')">
                    All
                </button>
            </section> 

                
            <h1 class = "labels"  id="SelectInterestsHeading">Step 3: My interests are...</h1>
            <section id="interestsSection" class = "InterestSelectionBtns"></section>
    
            <article class="bottom-area">
                <section class="BioSection">
                    <h1 class = "labels"  id="InsertBioHeader">Step 4: I describe myself as...</h1>
                    <input class="BioTextArea" id="BioTextAreaID" type="text" placeholder="Insert Bio here" value="" maxlength="150" onkeyup="UpdateBio(value)"></input>
                </section>

                <section class = "PhotoSection">
                    <h1 class = "labels"  id="UploadPhotoHeader">Step 5: I look like ...</h1>
                    <div id="app"></div>
                    <form id="upload">
                        <!-- <label for="file">File to upload</label> -->
                        <input type="file" id="file" accept="image/*" class = "PhotoUpload">
                        <button class ="Uploadbtn">Upload</button>
                    </form>
                </section>
            </article>
            <button class="btn submit-btn" id="submit" onclick="submitProfile()">Submit</button>
        </section>    
    </body>
    <script src="static/js/nav.js"></script>
    <script src="static/js/profileSetup.js"></script>
</html>
