<!DOCTYPE html>
<html>
    <head>
        <title>Friender Next Page</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="static/css/styles.css" />
        <link rel="stylesheet" href="static/css/profileSetup.css" />
        <link href="http://fonts.cdnfonts.com/css/better-saturday" rel="stylesheet">
        <link href="http://fonts.cdnfonts.com/css/abhaya-libre-2" rel="stylesheet">
    </head>
    <body>
        <section class = "container" >
            <h1 class = "ProfilePageHeader">Lets get to know you ...</h1>

            <section class = "ChooseGenderSection">
                <h1 class = "labels"  id="ChooseGenderHeader">Step 1: Show me...</h1>
                <section class = "gender-buttons-selection">
                    <button class = "Genderbutton" id="men-button">
                        Men
                    </button>
                    <button class ="Genderbutton" id="women-button">
                        Women
                    </button>
                    <button  class ="Genderbutton" id="transgender-button">
                        Transgender
                    </button>
                    <button class ="Genderbutton" id="all-button">
                        All
                    </button>
                </section> 
            </section>

            <section class="SelectInterestsSection">
                <h1 class = "labels"  id="SelectInterestsHeading">Step 2: My interests are...</h1>
                <section class = "Interest-selection-buttons1">
                    <button class = "Interest_button" id="Reading-button">
                        Reading
                    </button>
                    <button class ="Interest_button" id="Coffee-button">
                        Coffee
                    </button>
                    <button  class ="Interest_button" id="Beer-button">
                        Beer
                    </button>
                </section>
                <section class = "Interest-selection-buttons2">
                    <button class ="Interest_button" id="Hiking-button">
                        Hiking
                    </button>
                    <button class ="Interest_button" id="Movies-button">
                        Movies
                    </button>
                    <button class ="Interest_button" id="Photography-button">
                        Photography
                    </button>
                </section>
                <section class = "Interest-selection-buttons3">
                    <button class ="Interest_button" id="Art-button">
                        Art
                    </button>
                    <button class ="Interest_button" id="Sports-button">
                        Sports
                    </button>
                    <button class ="Interest_button" id="Surfing-button">
                        Surfing
                    </button>
                </section>
                <section class = "Interest-selection-buttons4">
                    <button class ="Interest_button" id="Dogs-button">
                        Dogs
                    </button>
                    <button class ="Interest_button" id="Camping-button">
                        Camping
                    </button>
                    <button class ="Interest_button" id="Cooking-button">
                        Cooking
                    </button>
                </section> 
            </section>

            <section class ="InsertBioSection">
                <h1 class = "labels"  id="InsertBioHeader">Step 3: I describe myself as...</h1>
                <textarea class="BioTextArea" name="Insert Bio here"></textarea>
                <button class="buttonInsertBio"> Submit</button>
            </section>

            <section class="UploadPhotoSection">
                <h1 class = "labels"  id="UploadPhotoHeader">Step 4: I look like ...</h1>
                <button class="UploadPhotoButton"> Upload Photos</button>
            </section>
        </section>
        
    </body>
    <footer>
        <h3>Find friends, and have you experiences transcend!</h3>
    </footer>
    <script src="static/js/nav.js"></script>
</html>
