<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="static/css/styles.css" />
        <link rel="stylesheet" href="static/css/profile.css" />
        <link href="http://fonts.cdnfonts.com/css/better-saturday" rel="stylesheet">

    </head>
    <body>
        <section  class="grid-container">
            <section>
            <img class="profile-img" src="static/images/pp.png" >
            <div class="top-left">Top Right</div>
            </section>
            <section class="all-info-container">
                <section class="name-and-location">
                    <p class="main-info">Lucy, 19</p>
                    <p class="main-info">Johannesburg</p>
                </section>
                <section class="bio"> I love going out once in a while to have 
                    a great time with friends. I love dancing and I occasionally
                    run on weekends too.
                </section>
                <p class="interest-title">I am interested in: </p>
                <section class="interests-buttons-container">
                    <button class="interest_button">Animals</button>
                    <button class="interest_button">Animals</button>
                    <button class="interest_button">Animals</button>
                    <button class="interest_button">Animals</button>
                    <button class="interest_button">Animals</button>
                    <button class="interest_button">Animals</button>
                </section>
                <!-- <p class="interest-title">Show me: </p>
                <section class="show-me-container">
                    <button class="interest_button show-me-button" >Men</button> 
                    <button class="interest_button show-me-button">Women</button> 
                </section> -->     
                <i class='far edit-button'>&#xf044;</i>      
                </section>
            </section>
        </section>
       

        <script src="static/js/nav.js"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    </body>
</html>